.flex-container {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftbox {
    flex:0.05
}

.rightbox {
    flex:auto
}

.headerbox {
    min-height:5vh;
}

.mainContent {
    justify-content: center;
    border: 2px solid yellow;

}.hamburger {
    flex: 0.1;
    border: 2px solid yellow;
}
.header{
    display: flex;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    justify-content: center;
}
.buttonsInHeader{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}
.iconButtons{
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}
.iconButtons:hover{
    background-color: #f1f1f1;
}
.powerButton{
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    border-color: rgb(0, 0, 0);
    border-style: solid;         
}
.powerButton:hover{
    background-color: #3e8e41;
}
.powerView{
    display: flex;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    flex-direction: column;
}
.powerButton .material-symbols-outlined {
    font-size: 340px;
}
.brightnessSliderBox{
    display: flex;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    flex-direction: column;
    align-items: center;
    width: 30vh;
    height: 20vh;
    margin: 1%;
}
.brightnessSlider{
    cursor: pointer;
    width: 80%;
}

.center{
    justify-content: center;
    display:flex;
}
.colorView {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    flex-direction: column;
}
.colorButton{
    padding: 10px;
}
.colorPicker{
   padding-top: 30px; 
}

.createScheduleDisplay{
    font-size: 50px;
    justify-content: center;
    display:flex;
}

.schedule{
    font-size: 35px;
    justify-content: center;
    display:flex;
}
.DevicesView {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}
.device{
    padding: 20px;
}
.addDeviceBox{
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.deviceButtons{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.gamebox{
    justify-content: center;
    display:flex;
    
    width:70%;
    
}

.border{
    
    justify-content: center;
    display:flex;

}


.centerAbout {
    text-align: center; /* Center the text and headers */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-text {
    max-width: 800px;
    margin: 20px auto; /* Center the text horizontally */
    text-align: justify;
    line-height: 1.6;
    word-wrap: break-word;
    white-space: normal;
}

.about-text h2 {
    text-align: center; /* Center the headers */
}


.center2 {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Change align-items to flex-start */
    flex-direction: column; /* Ensure the sections stack vertically */
}

.section {
    width: 30%;
    margin-bottom: 20px; /* Add margin between sections */
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member {
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .center {
        align-items: center;
    }

    .section {
        width: 90%;
    }

    .team-member {
        width: 100%;
    }
}

.about-text p {
    margin-bottom: 10px; /* You can adjust the value as needed */
}

.all-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.snakeButtonsMiddle{
    justify-content: center;

}

.snakeButton{
    cursor: pointer;
}
.snakeView{
    background-image: url("src/images/blurrysnake.png");
    background-size: cover;
    height:90vh;
}
.snakeButtons{
    display: flex;
    justify-content: center;
}
.snakeButton{
    margin: 2%;
    cursor: pointer;
    width: 20%;
    max-width: 200px;
    max-height: 150px;
}
.snakeButtonsMiddle{
    display:flex;
}
.memoryGameView{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: rgb(92, 62, 62);
    border-style: solid;
    flex-direction: column;
    background-image: url("src/images/blurrybrain.png");
    background-size: cover;
    height:90vh;
}
.memorySubmitBox{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: rgb(92, 62, 62);
    border-style: solid;
    flex-direction: column;
    width: 50%;
}

.snakeMenu {
    background-image: url("src/images/blurrysnake.png");
    background-size: cover;
    height:90vh;
    text-align: center;
}

.memoryMenu {
    background-image: url("src/images/blurrybrain.png");
    background-size: cover;
    height:90vh;
    text-align: center;
}
.centerCustom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}
.customButton{
    cursor: pointer;
}

.images{
    padding: 10px;
}

.Gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
    gap: 20px;
    padding: 20px;
    align-items: start; /* Align items to start to handle cards of variable content gracefully */
    margin: auto;
    max-width: 1200px; /* Optimal width for readability and layout */
    background: #f0f0f0; /* Neutral background that complements images */
}

.upload-area {
    display: flex;
    justify-content: center;
    border: 2px dashed #ccc;
    background-color: #fafafa;
    cursor: pointer;
    width: 30%;
    height: 20%;
}


.drag-drop-box {
    text-align: center;
    width: 80%;
    max-width: 500px;
    padding: 20px;
}

.upload-content {
    margin-bottom: 20px;
}

