.flex-container {
    display: flex;
}

.mainContent {
    flex: 0.9;
    border: 2px solid yellow;

}.hamburger {
    flex: 0.1;
    border: 2px solid yellow;
}
.header{
    display: flex;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    justify-content: center;
}
.buttonsInHeader{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}
.iconButtons{
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}
.iconButtons:hover{
    background-color: #f1f1f1;
}
.powerButton{
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    border-color: rgb(0, 0, 0);
    border-style: solid;         
}
.powerButton:hover{
    background-color: #3e8e41;
}
.powerView{
    display: flex;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    flex-direction: column;
}
.powerButton .material-symbols-outlined {
    font-size: 340px;
}
.brightnessSliderBox{
    display: flex;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    flex-direction: column;
    align-items: center;
    width: 30vh;
    height: 20vh;
    margin: 1%;
}
.brightnessSlider{
    cursor: pointer;
    width: 80%;
}

.center{
    justify-content: center;
    display:flex;
}
.colorView {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    flex-direction: column;
}
.colorButton{
    padding: 10px;
}
.colorPicker{
   padding-top: 30px; 
}

.createScheduleDisplay{
    font-size: 50px;
    justify-content: center;
    display:flex;
}

.schedule{
    font-size: 35px;
    justify-content: center;
    display:flex;
}
.DevicesView {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}
.device{
    padding: 20px;
}
.addDeviceBox{
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.deviceButtons{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.gamebox{
    justify-content: center;
    display:flex;
    
    width:70%;
    
}

.border{
    
    justify-content: center;
    display:flex;

}


.centerAbout {
    text-align: center; /* Center the text and headers */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-text {
    max-width: 800px;
    margin: 20px auto; /* Center the text horizontally */
    text-align: justify;
    line-height: 1.6;
    word-wrap: break-word;
    white-space: normal;
}

.about-text h2 {
    text-align: center; /* Center the headers */
}


.center2 {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Change align-items to flex-start */
    flex-direction: column; /* Ensure the sections stack vertically */
}

.section {
    width: 30%;
    margin-bottom: 20px; /* Add margin between sections */
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member {
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .center {
        align-items: center;
    }

    .section {
        width: 90%;
    }

    .team-member {
        width: 100%;
    }
}

.about-text p {
    margin-bottom: 10px; /* You can adjust the value as needed */
}

.all-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.snakeButtonsMiddle{
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    justify-content: center;

}

.snakeButton{
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    cursor: pointer;
}
.snakeView{
    margin-top:10%;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}
.snakeButtons{
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    display: flex;
    justify-content: center;
}
.snakeButton{
    margin: 2%;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    cursor: pointer;
    width: 20%;
    max-width: 200px;
    max-height: 150px;
}
.snakeButtonsMiddle{
    display:flex;
}
.memoryGameView{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: rgb(92, 62, 62);
    border-style: solid;
    flex-direction: column;
}
.memorySubmitBox{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: rgb(92, 62, 62);
    border-style: solid;
    flex-direction: column;
    width: 50%;
}
